.sideNav {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.sideNav__container {
  height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  border-right: 0.1rem solid #eee;
  width: 15%;
}

.sideNav__logo {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  margin: 0;
  box-sizing: border-box;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
}

.sideNav__logo img {
  height: 2.2rem;
  width: 115px;
  object-fit: contain;
}

.sideNav__itemContainer {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%;
  padding: 5px 10px;
  margin-bottom: 0.5em;
}

.sideNav__itemContainer:last-child {
  position: absolute;
  bottom: 2em;
}

.sideNav__item {
  display: flex;
  cursor: pointer;
  border-radius: 0.8rem;
  height: 45px;
  align-items: center;
}

.sideNav__item,
.sideNav__item:link,
.sideNav__item:visited {
  text-decoration: none;
}

.sideNav__item:hover,
.sideNav__item[class*="active"] {
  background-color: #f4f6f8;
}

.sideNav__itemContent {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 13px;
}

.sideNav__itemText {
  font-family: "STC-BOLD";
  flex-grow: 0;
  max-width: none;
  flex-basis: auto;
  margin: 0;
  box-sizing: border-box;
  margin-right: 1em;
  padding-top: 5px;
}

.sideNav__itemText p {
  opacity: 0.8;
  color: #bdbdbd;
  transition: opacity, color 0.2s;
  text-overflow: clip;
  overflow-wrap: break-word;
  font-size: 18px;
}

.sideNav__itemLogo {
  opacity: 0.8;
  flex-grow: 0;
  max-width: none;
  flex-basis: auto;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.sideNav__itemLogo img {
  width: 20px;
  opacity: 0.8;
  -webkit-filter: grayscale(100%) opacity(35%);
  filter: grayscale(100%) opacity(35%);
  transition: opacity, -webkit-filter 0.2s;
  transition: opacity, filter 0.2s;
  transition: opacity, filter 0.2s, -webkit-filter 0.2s;
}

.sideNav__item:hover .sideNav__itemText p,
.sideNav__item[class*="active"] .sideNav__itemText p {
  opacity: 1;
  filter: none;
  color: #111c4e;
}

.sideNav__item:hover .sideNav__itemLogo img,
.sideNav__item[class*="active"] .sideNav__itemLogo img {
  opacity: 1;
  filter: none;
  -webkit-filter: none;
}
