.post__body {
  padding: 5px 40px;
  color: rgb(97, 97, 97);
}

.post__body div {
  margin-top: 10px;
}

.post__bodyImages {
  width: 100%;
}

.post__bodyImages img {
  width: inherit;
  border-radius: 10px;
  object-fit: contain;
}

.post__bodyHashtags {
  display: flex;
}
